@model Product

<div class="product">
    <img src="@Model.ProductImage" alt="" />
    <div class="product-iformation">
        <a asp-action="Index" asp-controller="Product" asp-route-ProductID="@Model.ProductID">@Model.ProductName</a>
        <ul class="feed-back">
            <li>
                <a href=""><i class="fas fa-star"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-star"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-star"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-star"></i></a>
            </li>
        </ul>
        <span>@Model.Price</span>
    </div>
    <form method="post" asp-controller="Cart" asp-action="AddToCart" id="@Model.ProductID">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button class="add-cart">
            <div class="cart"> <i class="fas fa-shopping-cart"></i> </div>
            <p>Add to cart</p>
        </button>
    </form>
</div>
