@model Itemcart


<section style="margin-top: 15rem">
    <div class="menu">
        <a href="#">Home</a>
        <span>/</span>
        <a href="#">Checkout</a>
    </div>
</section>

@if (@Model != null)
{
    <section style="height: 41rem;display: flex;justify-content: center;align-items: center;">
        <div class="checkout-container">
            <p style="margin-bottom: 36px; font-size: 20px; font-weight: bold; "><span style=" color: crimson; font-weight: bold; font-size: 27px; padding-right: 11px; padding-bottom: 10px; border-bottom: 5px solid crimson; border-radius: 4px; }">Checkout</span> Your Cart</p>
            <div class="checkout-content">
                <vc:table-cart />
            </div>
            <div class="shipping-sup">
                <p>Support ship 20k for orders over 300k in Hanoi, HCMC</p>
                <p>Support ship 30k for orders over 500k nationwide</p>
            </div>
            <div class="cart-total">
                <div class="total-price">
                    <p>Total Price:@Model.ComputeTotalValue().ToString("c")</p>
                </div>
                <div class="clearfix">
                    <a asp-controller="Home" asp-action="Index" style="background-color: crimson;">Keep Shopping</a>
                    <p id="payment">Comfirm</p>
                </div>
            </div>
        </div>
    </section>

    <section class="payment">
        <div class="payment__background">
            <div class="payment__content">
                <div class="payment__header">
                    <h3>Paypal Pro Paymnent Form</h3>
                    <p>Would you like to buy one of our item?</p>
                </div>
                <div class="payment__tableproduct">
                    <div class="tableproduct__title">
                        <p>My Product</p>
                    </div>
                    <table class="payment__product">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th style="text-align: center">Qty</th>
                                <th style="text-align: center">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td style="padding: 10px">@item.Product.ProductName</td>
                                    <td style="text-align: center">@item.Quantity</td>
                                    <td style="text-align: center">@item.Product.Price.ToString("c"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="payment__totalPrice">
                    <p>
                        Total Price:
                        <span>
                            @Model.ComputeTotalValue().ToString("c")
                        </span>
                    </p>
                </div>
                <form class="payment__method" method="post" asp-controller="Checkout" asp-action="Checkout">
                    <input hidden name="total" value="@Model.ComputeTotalValue()" />
                    <div class="method__title">
                        <p>Payment Title</p>
                    </div>
                    <table>
                        <tbody>
                            <tr style="border: none">
                                <td>
                                    <input type="radio" name="payment_method" value="1" />
                                    <label>
                                        <a href=""><i class="fab fa-cc-paypal"></i></a>
                                    </label>
                                </td>
                                <td>
                                    <input type="radio" name="payment_method" value="2" />
                                    <label>
                                        Payment on delivery
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="infor-buyer">
                        <label>Buyer Name</label>
                        <div class="buyer-name">
                            <input type="text" name="firstName" placeholder="First Name" />
                            <input type="text" name="lastName" placeholder="Last Name" />
                        </div>
                        <label>Buyer E-Mail</label>
                        <div class="buyer-email">
                            <input type="text"
                                   name="email"
                                   placeholder="ex: myname@example.com" />
                        </div>
                        <label>Number Phone</label>
                        <div class="buyer-number">
                            <input type="text" name="Number" placeholder="+84:" />
                        </div>
                        <label>Shipping Address</label>
                        <div class="shipping-address">
                            <input type="text" name="address" placeholder="Address" />
                        </div>
                    </div>
                    <div class="submit-payment">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <div class="close-popup">
                    <i class="fas fa-times" id="close"></i>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="cart-null">
        <img src="~/image/empty-cart.png" style="height: 19rem" />
        <p>Your cart is <span>Empty!</span></p>
    </div>
}

